<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.circleos.personalityeditor">

    <uses-permission android:name="com.circleos.permission.ACCESS_PERSONALITY" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_editor"
        android:theme="@android:style/Theme.DeviceDefault">

        <activity
            android:name=".PersonalityMainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ModeEditorActivity"
            android:label="@string/editor_title"
            android:exported="false" />

        <activity
            android:name=".AppVisibilityActivity"
            android:label="@string/app_visibility_title"
            android:exported="false" />

        <activity
            android:name=".ManagedModeActivity"
            android:label="@string/managed_title"
            android:exported="false" />

        <activity
            android:name=".LearningSuggestionsActivity"
            android:label="@string/learning_title"
            android:exported="false" />

        <activity
            android:name=".CommunityActivity"
            android:label="@string/community_title"
            android:exported="false" />

    </application>
</manifest>
