<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="za.co.circleos.heyb">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />

    <queries>
        <package android:name="za.co.circleos.butler" />
    </queries>

    <application
        android:label="@string/app_name"
        android:icon="@drawable/ic_heyb"
        android:allowBackup="false"
        android:theme="@style/Theme.CircleHeyB">

        <activity
            android:name=".HeyBActivity"
            android:exported="true"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".HeyBService"
            android:exported="false"
            android:foregroundServiceType="microphone" />

    </application>
</manifest>
